@model IEnumerable<NBA.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>Player List</h1>
<br><br>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.playerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.playerNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teamName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.playerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teamName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.playerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.playerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.playerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br><br>
<p>
    <a asp-action="Create">Create a new Player</a>
</p>
